html, body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

.formBase{
    width: 100%;
    height: 100%;
}

.formHeader {
    font-size: 12mm;
    color: #290682;
    height: 20mm;
    display: block;
    align-items: center;
    text-align: center;
}

.formHeader2 {
    font-size: 8mm;
    color: #290682;
    height: 11mm;
    display: block;
    align-items: left;
    text-align: left;
    padding-left: 5em;
    /*background-color: gray;*/
}

.formParamCaption {
    width: 100%;
    text-align: left;
    font-size: 5mm;
    padding-left: 5mm;
    background-color: white;
}

.formParamValue{
    width: 100%;
    padding-left: 6mm;
    padding-right: 6mm;
    background-color: lightgrey;
    font-size: 5mm;
}

.formParamValueProfileContainer{
    width: 100%;
    background-color: lightgrey;
    font-size: 8mm;
}

.formParamValueSlider{
    width: 100%;
    background-color: lightgrey;
    font-size: 30mm;
}

.formStringParamProfile{
    width: 100%;
    font-size: 12mm;
}


.formParamValue input{
    background-color: lightgrey;
    border: 1px black;
}

.formNumberParamValue{
    width: 90mm;
}

.formStringParamValue{
    width: 100%;
    font-size: 5mm;

}

.formCheckboxParamValue{
    width: 18px;
}

.form-flex-vertical-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.form-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15mm;
    margin-bottom: 20mm;
    /*background-color: #000066;*/
}

.form-inputField-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2mm;
}

.form-flex-horizontal-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5mm;
}

.form-section{
    display: flex;
    flex-direction: column;
    width: 96%;
    border: solid #cccccc 1px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #848484;
    margin: 24px;
    padding: 10px;
}

.matrix-part{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5mm;
    padding-top: 5mm;
}

.matrix-part div{
    width: 60mm;
    font-size: 9mm;
}

.matrix-quad{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5mm;
}

.matrix-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1mm;
}

.matrix-row input{
    width: 20mm;
    border: 1px solid black;
    margin-right: 1mm;
    font-size: 9mm;
}

.toolButton{
    float: left;
    margin-right: 10mm;
    font-size: 10mm;
}

.miniButtonIcon {
    position: relative;
    height: 34mm;
    width: 36mm;
    cursor: pointer;
}


.buttonIcon:hover {
    opacity: 1;
}

.buttonIcon-disabled {
    opacity: 0.2;
}

.buttonIcon-disabled:hover {
    opacity: 0.2;
}

.buttonIconConfig {
    background-image: url("../img/system.png");
    /*background-position: -86px -498px;*/
}

.buttonWiFi {
    background-image: url("../img/wifi.png");
    /*background-position: -86px -688px;*/
}

.buttonIconDown {
    background-position: -250px -130px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.div-button {
    float: left;
    margin-right: 15px;
}


.toolButton2-main{
    display: flex;
    flex-direction: column;
    width: 40mm;
    height: 70mm;
    border: solid darkgrey 1px;
}

.toolButton2-icon{
    width: 100%;
    height: 40mm;
}

.toolButton2-caption{
    width: 100%;
    height: 30mm;
    font-size: 10mm;
}

.icon-apply{

}




.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15mm;
    border-radius: 5mm;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25mm;
    height: 25mm;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25mm;
    height: 25mm;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.svg{
    width: 100%;
    height: 100%;
}


.svg-outer{
    fill:none;
    stroke:black;
    stroke-width:5;
}

.svg-pump-on{
    fill: rgba(22, 255, 0, 0.31);
    stroke:green;
    stroke-width:5;
}

.svg-pump-off{
    fill:yellow;
    stroke:red;
    stroke-width:5;
}

.svg-pump-arrow{
    fill:none;
    stroke-width:5;
}

.svg-core-furniture{
    fill:none;
    stroke:black;
    stroke-width:9;
}

.svg-core-inner{
    fill:none;
    stroke:black;
    stroke-width:3;
}

.svg-hot-text{
    fill: red;
    stroke:red;
    stroke-width:1;
    font-size: 35px;
    /*font-weight: 100;*/
}

.svg-orange-text{
    fill: orange;
    stroke:orange;
    stroke-width:1;
    font-size: 35px;
    /*font-weight: 100;*/
}

.svg-pid-text{
    fill: none;
    stroke:gray;
    stroke-width:1;
    font-size: 20px;
    /*font-weight: 100;*/
}

.svg-mode-text{
    fill: green;
    stroke:green;
    stroke-width:1;
    font-size: 20px;
    /*font-weight: 100;*/
}

.svg-oxy-door-control-green-text{
    fill: green;
    stroke:green;
    stroke-width:1;
    font-size: 30px;
    /*font-weight: 100;*/
}

.svg-oxy-door-control-red-text{
    fill: red;
    stroke:red;
    stroke-width:1;
    font-size: 30px;
    /*font-weight: 100;*/
}

.svg-cold-text{
    fill: blue;
    stroke:blue;
    stroke-width:1;
    font-size: 35px;
    /*font-weight: 100;*/
}

.svg-core-upper-door{
    fill:none;
    stroke:black;
    stroke-width:1;
}

.svg-hot-pipe{
    fill:none;
    stroke:red;
    stroke-width:4;
}

.svg-cold-pipe{
    fill:none;
    stroke:blue;
    stroke-width:4;
}

.svg-cold-pipe-arrow{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.svg-hot-pipe-arrow{
    fill:none;
    stroke:red;
    stroke-width:2;
}

.svg-radiator{
    /*fill:url(#grad1);*/
    /*stroke: url(#grad1);*/
    stroke-width:2;

}

.svg-core-oxy-door-control{
    fill:white;
    stroke:black;
    stroke-width:1;
}

.svg-main-door-opened{
    fill:none;
    stroke:red;
    stroke-width:10;
}

